__pycache__/model.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
data/MNIST/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/MNIST/raw/train-images-idx3-ubyte
data/MNIST/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/MNIST/raw/train-labels-idx1-ubyte.gz
